[remote "origin"]
	url = git@github.com:huangyingw/vim-pbcopy.git
	fetch = +refs/heads/*:refs/remotes/origin/*
[remote "ahw"]
	url = https://github.com/ahw/vim-pbcopy.git
	fetch = +refs/heads/*:refs/remotes/ahw/*
[branch "master"]
	remote = ahw
	merge = refs/heads/master
[gsync]
    remote = ahw
    target = ahw/master
[push]
    remote = origin
